{% extends "base.html" %}
{% block hobbies %}
      <div class="dropdown-menu">
	{% for hobby in hobbies %}
        <a class="dropdown-item" href="{% url 'hobbies' hobby.id %}">{{ hobby }}</a>
        {% endfor %}
      </div>
{% endblock hobbies %}
{% block content %}
<h1 style="font-size:200%;color:limegreen"> {{hobby_name}}</h1><br>
<h1 style="color:red">{{activity_name}}</h1><br>
    {% for event in events %}
    <li>
    <b>{{ event.event_date }}</b>
    <p>{{ event.text|linebreaks }}</p>
    </li>
        {% empty %}
        <p>Sorry, but there are no activities yet... =(</p>
        <p>To learn more, find hobbies in navigation bar.</p>
    {% endfor %}
{% endblock content %}